$menu-primary: #06070B;
$menu-secondary: #787878;
$main-primary: #2D3638;
$main-secondary: rgba(45, 54, 56, 0.6);
$fonts: 'Inter', Helvetica, Arial, sans-serif;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: $fonts;
    font-size: 10px;
}

body {
    background: #EDEDED;
    min-height: 100vh;
}

.menu {
    background-color: #fff;
    height: 100vh;
    width: 370px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        color: $menu-primary;
        font-size: 3.6rem;
        font-weight: 800;
        margin-top: 65px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: $menu-secondary;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 5px;
    }

    &__search-box {
        margin-top: 50px;
    }

    &__last-searches {
        margin-top: 55px;
    }
}

.search-box {
    background-color: #EDEDED;
    border-radius: 7px;
    box-shadow: 0px 0px 35px -7px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        background-color: unset;
        border: 0;
        color: $main-primary;
        font-size: 1.4rem;
        margin: 0 5px 0 10px;
        width: 100%;
        outline: 0;
    }

    &__icon {
        font-family: $fonts;
        height: 18px;
        margin-right: 10px;
        cursor: pointer;
    }
}

.last-searches {
    &__hr {
        width: 320px;
        border: 1px solid #EDEDED;
    }

    &__title {
        color: $menu-secondary;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 15px 15px;
    }

    &__list {
        margin: 25px 40px;
        list-style-image: url('../imgs/lastsearch_icon.svg');
    }

    &__list-item {
        color: $menu-primary;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 15px;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }

        &--country {
            color: $menu-secondary;
            font-weight: 400;
        }
    }
}

.start-overlay {
    margin: 0 0 50px 370px;
    text-align: center;

    &__icon {
        height: 120px;
        opacity: 0.7;
        margin-top: 370px;
    }

    &__msg {
        margin-top: 20px;
        color: $menu-secondary;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: calc(1.8rem * 1.6);
    }
}

.main {
    margin-left: 370px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__location {
        margin-top: 50px;
    }

    &__img {
        margin-top: 70px;
        height: 300px;
        filter: drop-shadow(0px 7px 25px rgba(0, 0, 0, 0.29));
    }

    &__info-box {
        margin-top: 90px;
    }
}

.location {
    text-align: center;

    &__city {
        color: $main-primary;
        font-size: 2.4rem;
        font-weight: 800;
        margin-top: 10px;
    }

    &__country {
        color: $main-secondary;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.info-box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 25px 0;
    position: relative;
    width: 335px;

    &__date {
        color: $main-secondary;
        font-size: 1.5rem;
        font-weight: 600;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__main {
        color: $main-secondary;
        font-size: 2.4rem;
        font-weight: 800;
    }

    &__temp {
        margin-top: 5px;
        color: $main-primary;
        font-size: 4.8rem;
        font-weight: 800;
    }

    &__description {
        margin-top: 5px;
        color: $main-secondary;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__params {
        margin-top: 15px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
}

.parameter {
    display: flex;
    align-items: center;

    &__icon {
        opacity: 0.6;
        margin-right: 10px;
    }

    &__data {
        color: $main-secondary;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 1000px) {
    .menu {
        position: static;
        height: 70px;
        width: 100vw;

        flex-direction: row;
        align-items: center;

        &__subtitle,
        &__last-searches {
            display: none;
        }

        &__logo {
            margin: 0 50px 0 20px;
            font-size: 2.4rem;
        }

        &__search-box {
            margin: 0 20px 0 0;
        }
    }

    .search-box {
        height: 30px;

        &__icon {
            height: 14px;
        }
    }

    .start-overlay {
        margin-left: 0;

        &__icon { margin-top: 130px }
    }

    .main {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .main {
        &__img {
            height: 180px;
            margin-top: 30px;
        }

        &__location {
            margin-top: 30px;
        }
    }

    .location {
        &__icon {
            height: 18px;
        }

        &__city {
            font-size: 1.8rem;
            margin-top: 0px;
        }

        &__country {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (max-width: 340px) {
    .menu {
        &__logo {
            font-size: 1.8rem;
            margin: 0 25px 0 20px;
        }
    }

    .info-box {
        border-radius: 0;
        margin-bottom: 0;
        width: 100vw;
    }
}
